[core]
        editor = vim
        excludesfile = ~/.gitignore_global
[user]
        email = {{ git_user_email }}
        name = {{ git_user_name }}
[init]
        defaultBranch = main
[pull]
        rebase = true
[push]
        autoSetupRemote = true
        followTags = true
[rebase]
        autoStash = true
[branch]
        sort = -committerdate
[diff]
        external = difft
[url "git@github.com:"]
        insteadOf = https://github.com/
[diff "sopsdiffer"]
        textconv = "sops -d"
