- name: Add apt hashicorp key
  ansible.builtin.apt_key:
    url: https://apt.releases.hashicorp.com/gpg
    state: present
  when: ansible_os_family == "Debian"
  become: yes

- name: Add apt hashicorp repository
  ansible.builtin.apt_repository:
    repo: "deb https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main"
    state: present
  when: ansible_os_family == "Debian"
  become: yes

- name: Add apt redis key
  ansible.builtin.apt_key:
    url: https://packages.redis.io/gpg
    state: present
  when: ansible_os_family == "Debian"
  become: yes

- name: Add apt redis repository
  ansible.builtin.apt_repository:
    repo: "deb https://packages.redis.io/deb {{ ansible_distribution_release }} main"
    state: present
  when: ansible_os_family == "Debian"
  become: yes

- name: Add apt docker key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  when: ansible_os_family == "Debian"
  become: yes

- name: Add apt docker repository
  ansible.builtin.apt_repository:
    repo: "deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
  when: ansible_os_family == "Debian"
  become: yes

- name: Install apt packages
  apt:
    name:
      - age
      - ansible
      - autoconf
      - bat
      - build-essential
      - ca-certificates
      - containerd.io
      - coreutils
      - curl
      - direnv
      - dirmngr
      - docker-ce
      - docker-ce-cli
      - docker-buildx-plugin
      - docker-compose-plugin
      - fd-find
      - fonts-firacode
      - fzf
      - gawk
      - gh
      - gnupg
      - git
      - golang-go
      - gpg
      - htop
      - jq
      - libdb-dev
      - libffi-dev
      - libgdbm6
      - libgdbm-dev
      - libgmp-dev
      - libncurses5-dev
      - libpq-dev
      - libreadline6-dev
      - libssl-dev
      - libyaml-dev
      - make
      - memcached
      - neovim
      - patch
      - pgcli
      - postgresql
      - postgresql-client
      - pre-commit
      - python-is-python3
      - python3-psycopg2
      - redis
      - ripgrep
      - rustc
      - shellcheck
      - starship
      - terraform
      - tldr
      - tmux
      - traceroute
      - tree
      - uuid-dev
      - vim
      - wget
      - xclip
      - zlib1g-dev
      - zsh
    state: latest
    update_cache: yes
  when: ansible_os_family == "Debian"
  become: yes

- name: Install brew packages on macOS
  homebrew:
    name:
      - age
      - ansible
      - autoconf
      - awscli
      - aws-vault
      - bat
      - colima
      - coreutils
      - direnv
      - dive
      - docker
      - docker-buildx
      - docker-compose
      - fd
      - font-fira-code-nerd-font
      - fzf
      - gawk
      - gh
      - gmp
      - gnupg
      - go
      - go-task
      - hadolint
      - htop
      - jq
      - lazydocker
      - libffi
      - libpq
      - libtool
      - libyaml
      - make
      - memcached
      - mise
      - ncurses
      - neovim
      - openssl@3
      - pgcli
      - postgresql@17
      - pnpm
      - pre-commit
      - python
      - qemu
      - readline
      - redis
      - ripgrep
      - rust
      - session-manager-plugin
      - shellcheck
      - sops
      - starship
      - terraform
      - tldr
      - tmux
      - tree
      - wget
    state: latest
    update_homebrew: true
  when: ansible_os_family == "Darwin"

- name: Check if colima is already running
  shell: brew services list | grep colima | grep started
  register: colima_status
  failed_when: false
  when: ansible_os_family == "Darwin"

- name: Start colima if not already running
  shell: brew services start colima
  when: ansible_os_family == "Darwin" and colima_status.rc != 0

- name: Create Docker CLI plugins directory if not present
  file:
    path: "{{ ansible_env.HOME }}/.docker/cli-plugins"
    state: directory
    mode: '0755'
  when: ansible_os_family == "Darwin"

- name: Symlink Docker Buildx plugin
  file:
    src: "{{ lookup('pipe', 'brew --prefix') }}/opt/docker-buildx/bin/docker-buildx"
    dest: "{{ ansible_env.HOME }}/.docker/cli-plugins/docker-buildx"
    state: link
    force: yes
  when: ansible_os_family == "Darwin"

- name: Symlink Docker Compose plugin
  file:
    src: "{{ lookup('pipe', 'brew --prefix') }}/opt/docker-compose/bin/docker-compose"
    dest: "{{ ansible_env.HOME }}/.docker/cli-plugins/docker-compose"
    state: link
    force: yes
  when: ansible_os_family == "Darwin"

- name: Install task on Debian
  apt:
    deb: https://github.com/go-task/task/releases/latest/download/task_linux_amd64.deb
  when: ansible_os_family == "Debian"
  become: yes

- name: Install aws-vault on Debian
  get_url:
    url: https://github.com/99designs/aws-vault/releases/latest/download/aws-vault-linux-amd64
    dest: /usr/local/bin/aws-vault
    mode: 0755
  when: ansible_os_family == "Debian"
  become: yes

- name: Install mise on Debian
  get_url:
    url: https://github.com/jdx/mise/releases/latest/download/mise-linux-x64
    dest: /usr/local/bin/mise
    mode: 0755
  when: ansible_os_family == "Debian"
  become: yes

- name: Add current user to groups on Debian
  user:
    name: "{{ansible_env.USER}}"
    groups: sudo,docker
    append: yes
  when: ansible_os_family == "Debian"
  become: yes
